# Binaries
/scaledb
dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test
*.test
*.out
cover.html

# IDE
.idea/
.vscode/
*.swp
*.swo

# Internal notes
.notes/

# Collect output
scaledb-data/

# OS
.DS_Store
Thumbs.db
